/* 
  Page specific styles can go in a separate stylesheet
*/
#viewport {
  height: 500px;
  width: 500px;
  overflow: hidden;
  position: relative;
  border: 10px solid #000;
}
.test-img {
  height: 500%;
  width: 500%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
  transition: transform 0.2s ease-in-out;
  /* TESTING ABOVE */
}
:root {
  --size: 100px;
}

.profile-box {
  height: 500px;
  width: 500px;
  overflow: scroll;
}
.profile-test {
  height: var(--size);
  width: var(--size);
}

@media screen and (min-width: 768px) {
  /*Tablet-specific styles go here*/
}

@media screen and (min-width: 1024px) {
  /*Desktop-specific styles go here*/
}
